# Federico Ariton
# Higher Diploma in Science in Data Analytics for Business
# CA 1
# Student Number:sba2209

In [3]:
# Importing the libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore') 
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix

In [4]:
bank_data = pd.read_csv("bank-dataset.csv" , sep = ';')

In [5]:
bank_data.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [6]:
bank_data.duration

0        261
1        149
2        226
3        151
4        307
        ...
41183    334
41184    383
41185    189
41186    442
41187    239
Name: duration, Length: 41188, dtype: int64

In [7]:
bank_data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [8]:
bank_data.shape

(41188, 21)

In [9]:
# Basic statistical summary for numerical columns
numerical_summary = bank_data.describe()

# Count of unique values for categorical columns
categorical_summary = bank_data.select_dtypes(include=['object']).nunique()

numerical_summary, categorical_summary

(               age      duration      campaign         pdays      previous  \
 count  41188.00000  41188.000000  41188.000000  41188.000000  41188.000000
 mean      40.02406    258.285010      2.567593    962.475454      0.172963
 std       10.42125    259.279249      2.770014    186.910907      0.494901
 min       17.00000      0.000000      1.000000      0.000000      0.000000
 25%       32.00000    102.000000      1.000000    999.000000      0.000000
 50%       38.00000    180.000000      2.000000    999.000000      0.000000
 75%       47.00000    319.000000      3.000000    999.000000      0.000000
 max       98.00000   4918.000000     56.000000    999.000000      7.000000

        emp.var.rate  cons.price.idx  cons.conf.idx     euribor3m   nr.employed
 count  41188.000000    41188.000000   41188.000000  41188.000000  41188.000000
 mean       0.081886       93.575664     -40.502600      3.621291   5167.035911
 std        1.570960        0.578840       4.628198      1.734447     72.251528
 min       -3.400000       92.201000     -50.800000      0.634000   4963.600000
 25%       -1.800000       93.075000     -42.700000      1.344000   5099.100000
 50%        1.100000       93.749000     -41.800000      4.857000   5191.000000
 75%        1.400000       93.994000     -36.400000      4.961000   5228.100000
 max        1.400000       94.767000     -26.900000      5.045000   5228.100000  ,
 job            12
 marital         4
 education       8
 default         3
 housing         3
 loan            3
 contact         2
 month          10
 day_of_week     5
 poutcome        3
 y               2
 dtype: int64)

In [10]:
# Check for missing values in the dataset
bank_data.isnull().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64